@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Contact: Gabriel Gonzalez Rodriguez </p>

<address>
    Cra 20 # 27-95<br />
    Montería - Córdoba<br />
    <abbr title="Phone">P:</abbr>
    +573174042368
</address>

<address>
    <strong>Development:</strong>   <a href="mailto:gabriel.gr7@gmail.com">Support@example.com</a><br />    
</address>